<div class="container-fluid">

  <form #form="ngForm" (ngSubmit)="onSubmit()">
 

    <div class="form-group">
      <input type="text" #username="ngModel"   [class.is-invalid]="username.invalid && username.touched"   
      class="form-control " required name="username" [(ngModel)]="usermodel.username">
     
      <small class="text-danger" [class.d-none]="username.valid || username.untouched">username is required</small>
    </div>

    <div class="form-group">
      <input type="email" #email="ngModel"  required [class.is-invalid]="email.invalid && email.touched"
      class="form-control" name="email" [(ngModel)]="usermodel.email">
      <small class="text-danger" [class.d-none]="email.valid || email.untouched">email is required</small>
    </div>

    <div class="form-group">
      <input type="password"  #password="ngModel" required [class.is-invalid]="password.invalid && password.touched"
      class="form-control" name="password" [(ngModel)]="usermodel.password">
      <small class="text-danger" [class.d-none]="password.valid || password.untouched">password is required</small>
    </div>
  
  <button type="submit"> Submit</button>
  

  </form>
  
  
  
  
  </div>